@import '../styles//theme.scss';

body, html {
  background-color: $mid-gray;
  height:100%!important;
}

input:-webkit-autofill {
  box-shadow:  0 0 0px 1000px $dark-gray inset;
  -webkit-box-shadow: 0 0 0px 1000px $dark-gray inset;
  -webkit-text-fill-color: $white;
}

.mat-sidenav {
  min-width: 220px;
}

.header {
    font-family: $font-primary;
    font-size: 30px;
    text-align: center;
    width: 100%;
}

#planet-details-header {
    padding: 15px;
    text-align: center;
    font-family: $font-primary;
    font-size: 18px;
    background-color: $dark-gray;
    color: mat-color($primary);
}
#no-residents {
  padding: 15px;
  text-align: center;
  font-family: $font-primary;
  font-size: 18px;
  background-color: $mid-gray;
}
.button-nav {
  width: 50%;
  font-family:$font-primary;
  color: mat-color($primary);
  height: 50px;
}

.table {
  width: 100%;
  padding-top: 10px;
  font-family: $font-primary;
}

.row-head {
  color: mat-color($primary);
  font-family: $font-primary;
}

.row-minor {
  color: gray;
}

.error {
  font-family: $font-primary;
  font-size: 12px;
  text-align: center;
  padding: 25px 0;
}

.is-active {
  background-color: red;
}

.planet-link {
  font-family: $font-primary;
}

.favourites-header {
  color:$dark-gray;
  background-color: mat-color($primary);
  font-family: $font-primary;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
}
