.favourites-header {
  color: #212121;
  background-color: yellow;
  font-family: 'STARWARS';
  padding: 23px 15px;
  font-size: 18px;
  cursor: pointer;
  margin-top: -10px;
}

.active {
  background-color:#212121;
}
