<div class="background">
  <div *ngIf="!(loading$ | async)" class="form-margin">
    <form (ngSubmit)="onLogin()" [formGroup]="form" class="form">
      <mat-toolbar color="primary" id="header">STARWARS</mat-toolbar>
      <div *ngIf="(error$ | async) != null" id="error">{{error$ | async}}</div>
      <mat-form-field class="input">
        <input matInput [formControl]="username" placeholder="USERNAME">
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput [formControl]="password" type="password" placeholder="PASSWORD">
      </mat-form-field>
      <div id="btn-container">
        <button mat-button [disabled]="form.invalid" id="btn-login">LOGIN</button>
      </div>
    </form>
  </div>
  <div *ngIf="loading$ | async" id="loader">
    <mat-icon svgIcon="r2d2" style="height: 100px; width: 100px;"></mat-icon>
  </div>
</div>
