<div class="background">
  <div class="form-margin">
    <div class="form">
      <mat-toolbar color="primary" id="header">STARWARS</mat-toolbar>
      <div id="error">{{error}}</div>
      <mat-form-field class="input">
        <input matInput placeholder="USERNAME">
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput placeholder="PASSWORD">
      </mat-form-field>
      <div id="btn-container">
        <button mat-button id="btn-login" routerLink="/planets">LOGIN</button>
      </div>
    </div>
  </div>
</div>
