<div *ngIf="(planet$ | async) != null" id="planet-details-header" style="padding-left: 25px; padding-right: 25px;">
  {{(planet$ | async).name | uppercase}}<span fxHide.xs> - {{(planet$ | async).residents.length}} residents</span>
  <app-add-favourite [planet]="planet$ | async"></app-add-favourite>
  <mat-icon *ngIf="(view$ | async) == 'table'" (click)="onChangeView('cards')" style="float: right; cursor: pointer;">view_comfy</mat-icon>
  <mat-icon *ngIf="(view$ | async) == 'cards'" (click)="onChangeView('table')" style="float: right; cursor: pointer;">view_list</mat-icon>
</div>

<mat-progress-bar *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar>

<div *ngIf="(error$ | async) != null" class="error">{{error$ | async}}</div>
<div id="no-residents" *ngIf="(planet$ | async)?.residents.length == 0">There are no residents on this planet</div>

<app-residents-cards *ngIf="(view$ | async) == 'cards'" [residents]="residents$ | async" [images]="images$ | async"></app-residents-cards>
<app-residents-table *ngIf="(view$ | async) == 'table'" [residents]="residents$ | async"></app-residents-table>
