<div *ngIf="(planet$ | async) != null" id="planet-details-header" fxLayout="row" fxLayoutAlign="center center">
  <app-add-favourite [planet]="planet$ | async"></app-add-favourite>
  <div style="margin-left: 15px">
    {{(planet$ | async).name | uppercase}}
    <span fxHide.xs> - {{(planet$ | async).residents.length}} residents</span>
  </div>
  <div fxFlex fxLayoutAlign="end">
    <mat-icon *ngIf="(view$ | async) == 'table'" (click)="onChangeView('cards')" class="icon-action">view_comfy</mat-icon>
    <mat-icon *ngIf="(view$ | async) == 'cards'" (click)="onChangeView('table')" class="icon-action">view_list</mat-icon>
    <mat-icon *ngIf="sort === 'asc'" (click)="onSort()" class="icon-action">arrow_upward</mat-icon>
    <mat-icon *ngIf="sort === 'desc'" (click)="onSort()" class="icon-action">arrow_downward</mat-icon>
    <mat-icon (click)="onShowSearch()" class="icon-action">search</mat-icon>
  </div>
</div>

<mat-progress-bar *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar>

<div *ngIf="showSearch" id="search">
  <mat-form-field [floatLabel]="'never'" id="search-input">
    <input [formControl]="search" (input)="onSearch()" matInput placeholder="Search..." autocomplete="off" />
    <mat-icon (click)="onHideSearch()" matSuffix style="cursor: pointer;">close</mat-icon>
  </mat-form-field>
</div>

<div *ngIf="(error$ | async) != null" class="error">{{error$ | async}}</div>
<div id="no-residents" *ngIf="(planet$ | async)?.residents.length == 0">There are no residents on this planet</div>

<app-residents-cards *ngIf="(view$ | async) == 'cards'" [residents]="residents$ | async" [images]="images$ | async"></app-residents-cards>
<app-residents-table *ngIf="(view$ | async) == 'table'" [residents]="residents$ | async"></app-residents-table>
