#planet-details-header {
  padding: 10px 0;
  padding-left: 25px;
  padding-right: 10px;
  font-family: 'STARWARS';
  font-size: 18px;
  background-color: #212121;
  color: yellow;
}

.icon-action {
  cursor: pointer;
  padding: 0 10px;
}

#search {
  color: black;
  color: yellow;
  background-color: #424242;
  padding: 0 25px;
}

#search-input {
  font-family: 'STARWARS';
  color: yellow!important;
  width: 100%;
}


