<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [mode]="'side'" [opened]="true">
    <mat-toolbar style="background-color: yellow">
      <mat-form-field style="color: black; font-family:Starwars;" [floatLabel]="'never'">
        <input [formControl]="search" matInput placeholder="Search..." />
      </mat-form-field>
    </mat-toolbar>
    <div style="background-color: #212121;">
      <button mat-button style="width: 50%; font-family:Starwars;">Previous</button>
      <button mat-button style="width: 50%; font-family:Starwars;">Next</button>
    </div>
    <mat-nav-list>
      <a mat-list-item href="#" *ngFor="let planet of (filteredPlanets | async)" style="font-family:Starwars">
        <a href="#favourite" style="margin-right: 15px">
          <mat-icon style="color: #c0c0c0;">star_border</mat-icon>
        </a>
        {{ planet.name }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="header">STARWARS</span>
    </mat-toolbar>
    <app-planet-details></app-planet-details>
    <div style="text-align:center">
      <h1>Welcome to {{ title }}!</h1>
      <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
    </div>
    <h2>Here are some links to help you start:</h2>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
